{% extends "base.html" %}

{% block page_title %}Contact Us{% endblock %}<

{% block nav %}
<li><a href="{% url hypemfinder.views.index %}">Home</a></li>
<li><a href="{% url about %}">About</a></li>
<li class="active"><a href="{% url contact %}">Contact</a></li>
{% if debug %}
<li><a href="{% url admin:index %}">Admin</a></li>
{% endif %}
{% endblock nav %}}

{% block content %}
<div class="row">
	<div class="span6 offset2">
                    <h2>Contact</h2>
                    <p>
					You can contact me at <a href="mailto:fzakaria@fzakaria.com">fzakaria@fzakaria.com</a> or on my blog <a href="blog.fzakaria.com">here</a>.
					</p>
    </div>
</div>

{% endblock content %}