{% extends "hypemfinder/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="hero-unit">
	<h1>Welcome to HypemSong Finder!</h1>
	<p>This is a simple site for allowing easy access to downloading the songs made available on <a href="http://www.hypem.com">hypem.com</a>.</p>
	<p>It's fairly simple to use, simply enter in the search field any valid hypem.com URL and it will return a result of parsed songs and downloads!</p>
</div>


<div class="row">
	<div class="span4 offset4">
		<h2>Search for songs!</h2>
		<form class="form-search" action="{% url hypemfinder.views.lookup %}" method="get">
			<div class="input-append">
				{{search_form.errors}}
				{{ search_form.url|add_class:"span2 search-query" }}
				<button type="submit" class="btn">Search</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}