{% extends "hypemfinder/base.html" %}

{% block content %}

<div class="row">
	<div class="span8 offset2">
		<h2>Songs</h2>
		<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Artist</th>
				<th>Details</th>
				<th>Download</th>
			</tr>
		</thead>
		<tbody>
		{% if songs %}
			{% for song in songs %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{ song.title }}</td>
					<td>{{ song.artist }}</td>
					<td><a href="{% url hypemfinder.views.details song.id %}">View</a></td>
					<td><a class="btn" href="{% url hypemfinder.views.download song.id %}"><i class="icon-download-alt"></i></a></td>
				</tr>
			{% endfor %}
		{% endif %}
		</tbody>
		</table>
	</div>
</div>
{% endblock content %}